


body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
  background: url(./assets/gradient.jpg);
  background-size: cover;
  }

  .btn-primary {
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  background: -webkit-linear-gradient(left, #6dc2a6, #BEDEF7);
  border-color: transparent;
  }

  .btn-primary:hover {
    background: -webkit-linear-gradient(left, #BEDEF7, #6dc2a6);
    border-color: transparent;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background: rgba(255,255,255,0.8);
    border: none;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    border-bottom: none;
    background-color: transparent;
  }

  table {
    width: 100%;
  }

  table, td {
    border-collapse: collapse;
    border: 1px solid #000;
  }

  thead {
    display: table; /* to take the same width as tr */
    width: calc(100% - 17px); /* - 17px because of the scrollbar width */
  }

  tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 200px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  }

  th, td {
    // &one-space {
    //   width: 10%;
    // }

    // &norm-space {
    //   width: 20%;
    // }

    width: 20%; /* to enable "word-break: break-all" */
    padding: 5px;
    word-break: break-all; /* 4. */
  }

  tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }

  td {
    // text-align: center;
    border-bottom: none;
    border-left: none;
  }


