.basecard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background: rgba(255,255,255,0.8);
    border: none;

}

.othercontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// div.stars{
//     width: 270px;
//     display: inline-block;
// }

// input.star{
//     display: none;
// }

// label.star {
//     float: right;
//     padding: 10px;
//     font-size: 36px;
//     color: #444;
//     transition: all .2s;
// }

// input.star:checked ~ label.star:before {
//     content:'\f005';
//     color: #FD4;
//     transition: all .25s;
// }


// input.star-5:checked ~ label.star:before {
//     color:#FE7;
//     text-shadow: 0 0 20px #952;
// }

// input.star-1:checked ~ label.star:before {
//     color: #F62;
// }

// label.star:hover{
//     transform: rotate(-15deg) scale(1.3);
// }

// label.star:before{
//     content:'\f006';
//     font-family: FontAwesome;
// }

// .rev-box{
//     overflow: hidden;
//     height: 0;
//     width: 100%;
//     transition: all .25s;
// }

// textarea.review{
//     background: #222;
//     border: none;
//     width: 100%;
//     max-width: 100%;
//     height: 100px;
//     padding: 10px;
//     box-sizing: border-box;
//     color: #EEE;
// }

// label.review{
//     display: block;
//     transition:opacity .25s;
// }



// input.star:checked ~ .rev-box{
//     height: 125px;
//     overflow: visible;
// }

// .rating {
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: center
// }

// .rating>input {
//     display: none
// }

// .rating>label {
//     position: relative;
//     width: 1em;
//     font-size: 6vw;
//     color: #FFD600;
//     cursor: pointer
// }

// .rating>label::before {
//     content: "\2605";
//     position: absolute;
//     opacity: 0
// }

// .rating>label:hover:before,
// .rating>label:hover~label:before {
//     opacity: 1 !important
// }

// .rating>input:checked~label:before {
//     opacity: 1
// }

// .rating:hover>input:checked~label:before {
//     opacity: 0.4
// }





